<app-search></app-search>
<section id="vantagens">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row row-margin-bottom">
                    <div class="col-md-6 no-padding lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row setShadow w-100">
                                <div class="col-md-12 image-row">
                                    <h6 style="font-family:inherit;font-weight: bold;margin-top: 12px;">New Jobs in My
                                        Job Alerts</h6>
                                    <hr>
                                </div>
                                <div class="col-md-6 card-text">
                                    <div class="lib-row lib-header text-left">
                                        <span class="blue">
                                            Sr. Software Developer - Node.js
                                        </span>
                                        <div class="lib-header-seperator"></div>
                                        <span class="setCompany">Hippo Innovations Pvt Ltd</span>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        <fa-icon class="float-left mt-2 faBriefSet" [icon]="faBriefcase"></fa-icon>
                                        <div class="p-2 ml-9"> &nbsp;&nbsp;<span class="setYears">1-3 Years </span>
                                            <fa-icon class="mt-2 faHomeSet" [icon]="faHome"></fa-icon> &nbsp;&nbsp;<span
                                                class="setYears">Hyderabad </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faPencilRuler">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Angularjs,Rest,GIT,Mean Stack,Design
                                        Patterns,MySQL,Javascript,SVN,Grunt,Web Services</span><br>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faFileAlt">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Knowledge of Async design patterns
                                        (Promises,Generators,Observables,Async-await,etc)...</span><br>
                                        <button class="btn btn-warning p-1 applySet shadow-none" (click)="applyJob()">
                                            <fa-icon class="mt-0 ml-1 faHandPointRightSet ng-fa-icon" [icon]="faHandPointRight">
                                            </fa-icon>&nbsp;
                                            Apply
                                        </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row setShadow w-100">
                                <div class="col-md-12 image-row">
                                    <h6 style="font-family:inherit;font-weight: bold;margin-top: 12px;">New Jobs in My
                                        Job Alerts</h6>
                                    <hr>
                                </div>
                                <div class="col-md-6 card-text">
                                    <div class="lib-row lib-header text-left">
                                        <span class="blue">
                                            Sr. Software Developer - Node.js
                                        </span>
                                        <div class="lib-header-seperator"></div>
                                        <span class="setCompany">Hippo Innovations Pvt Ltd</span>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        <fa-icon class="float-left mt-2 faBriefSet" [icon]="faBriefcase"></fa-icon>
                                        <div class="p-2 ml-9"> &nbsp;&nbsp;<span class="setYears">1-3 Years </span>
                                            <fa-icon class="mt-2 faHomeSet" [icon]="faHome"></fa-icon> &nbsp;&nbsp;<span
                                                class="setYears">Hyderabad </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faPencilRuler">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Angularjs,Rest,GIT,Mean Stack,Design
                                        Patterns,MySQL,Javascript,SVN,Grunt,Web Services</span><br>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faFileAlt">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Knowledge of Async design patterns
                                        (Promises,Generators,Observables,Async-await,etc)...</span><br>
                                        <button class="btn btn-warning p-1 applySet shadow-none" (click)="applyJob()">
                                            <fa-icon class="mt-0 ml-1 faHandPointRightSet ng-fa-icon" [icon]="faHandPointRight">
                                            </fa-icon>&nbsp;
                                            Apply
                                        </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row setShadow w-100">
                                <div class="col-md-12 image-row">
                                    <h6 style="font-family:inherit;font-weight: bold;margin-top: 12px;">New Jobs in My
                                        Job Alerts</h6>
                                    <hr>
                                </div>
                                <div class="col-md-6 card-text">
                                    <div class="lib-row lib-header text-left">
                                        <span class="blue">
                                            Sr. Software Developer - Node.js
                                        </span>
                                        <div class="lib-header-seperator"></div>
                                        <span class="setCompany">Hippo Innovations Pvt Ltd</span>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        <fa-icon class="float-left mt-2 faBriefSet" [icon]="faBriefcase"></fa-icon>
                                        <div class="p-2 ml-9"> &nbsp;&nbsp;<span class="setYears">1-3 Years </span>
                                            <fa-icon class="mt-2 faHomeSet" [icon]="faHome"></fa-icon> &nbsp;&nbsp;<span
                                                class="setYears">Hyderabad </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faPencilRuler">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Angularjs,Rest,GIT,Mean Stack,Design
                                        Patterns,MySQL,Javascript,SVN,Grunt,Web Services</span><br>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faFileAlt">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Knowledge of Async design patterns
                                        (Promises,Generators,Observables,Async-await,etc)...</span><br>
                                        <button class="btn btn-warning p-1 applySet shadow-none" (click)="applyJob()">
                                            <fa-icon class="mt-0 ml-1 faHandPointRightSet ng-fa-icon" [icon]="faHandPointRight">
                                            </fa-icon>&nbsp;
                                            Apply
                                        </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 no-padding lib-item" data-category="view">
                        <div class="lib-panel">
                            <div class="row setShadow w-100">
                                <div class="col-md-12 image-row">
                                    <h6 style="font-family:inherit;font-weight: bold;margin-top: 12px;">New Jobs in My
                                        Job Alerts</h6>
                                    <hr>
                                </div>
                                <div class="col-md-6 card-text">
                                    <div class="lib-row lib-header text-left">
                                        <span class="blue">
                                            Sr. Software Developer - Node.js
                                        </span>
                                        <div class="lib-header-seperator"></div>
                                        <span class="setCompany">Hippo Innovations Pvt Ltd</span>
                                    </div>
                                    <div class="lib-row lib-desc">
                                        <fa-icon class="float-left mt-2 faBriefSet" [icon]="faBriefcase"></fa-icon>
                                        <div class="p-2 ml-9"> &nbsp;&nbsp;<span class="setYears">1-3 Years </span>
                                            <fa-icon class="mt-2 faHomeSet" [icon]="faHome"></fa-icon> &nbsp;&nbsp;<span
                                                class="setYears">Hyderabad </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faPencilRuler">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Angularjs,Rest,GIT,Mean Stack,Design
                                        Patterns,MySQL,Javascript,SVN,Grunt,Web Services</span><br>
                                    <fa-icon class="float-left mt-1 ml-4 faBriefSet ng-fa-icon" [icon]="faFileAlt">
                                    </fa-icon>
                                    &nbsp;&nbsp;<span class="setSkill">Knowledge of Async design patterns
                                        (Promises,Generators,Observables,Async-await,etc)...</span><br>
                                        <button class="btn btn-warning p-1 applySet shadow-none" (click)="applyJob()">
                                            <fa-icon class="mt-0 ml-1 faHandPointRightSet ng-fa-icon" [icon]="faHandPointRight">
                                            </fa-icon>&nbsp;
                                            Apply
                                        </button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>