<div class="container contact-form">
    <div class="contact-image">
       <h5 class="JobTitle"><b style="border-bottom: 2px solid red;border-top: 2px solid red;border-radius: 4px;">Search Your Best Job's</b></h5>
    </div>
    <form [formGroup]="searchForm">
       <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <!-- <input type="text" name="txtName" class="form-control shadow-none" placeholder="Technical Skil's *" value="" /> -->
                <ng-select [items]="keyData" bindLabel="skills" bindValue="skills" formControlName="key" class="shadow-none" 
                placeholder="Technical Skil's *" [multiple]="false" (keyup)="searchKey($event.target.value)"> </ng-select>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <ng-select [items]="cityData" bindLabel="cityname" bindValue="cityname" formControlName="city" 
                    class="shadow-none" placeholder="Locations *" (keyup)="searchCity($event.target.value)"></ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <ng-select [items]="experienceData" bindLabel="exp" formControlName="experience" class="shadow-none" placeholder="experience *"></ng-select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <button class="btn btn-warning shadow-none setBtnSearch" (click)="searchJobs()">
                    <fa-icon [icon]="faArrowRight" ></fa-icon> Search
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>